html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 45px;
}
header .logo {
  position: absolute;
  top: 0;
  left: 50px;
}
header .menu_btn {
  position: absolute;
  top: 0;
  right: 50px;
  visibility: hidden;
}
header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 0px 20px;
}
header .menu li {
  text-align: center;
}
header .menu li a {
  padding: 4px 12px;
  position: relative;
}
header .menu li a:hover .menu_Ltop {
  border-top: 1px solid black;
  border-left: 1px solid black;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 0px;
  top: 0px;
}
header .menu li a:hover .menu_Rtop {
  border-top: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  width: 5px;
  height: 5px;
  right: 0px;
  top: 0px;
}
header .menu li a:hover .menu_Lbottom {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 0px;
  bottom: 0px;
}
header .menu li a:hover .menu_Rbottom {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  width: 5px;
  height: 5px;
  right: 0px;
  bottom: 0px;
}

.menu_btn {
  width: 24px;
  height: 24px;
  background-color: #fff;
  cursor: pointer;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  z-index: 2;
}

.menu_btn .line,
.menu_btn .line::before,
.menu_btn .line::after {
  background-color: #222;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  -webkit-transition: top ease 0.3s 0.3s, -webkit-transform ease 0.3s;
  transition: top ease 0.3s 0.3s, -webkit-transform ease 0.3s;
  transition: top ease 0.3s 0.3s, transform ease 0.3s;
  transition: top ease 0.3s 0.3s, transform ease 0.3s, -webkit-transform ease 0.3s;
  width: 20px;
}

.menu_btn .line {
  top: 25px;
}

.menu_btn .line::before {
  top: -6px;
}

.menu_btn .line::after {
  top: 6px;
}

#menu_Hambugerlist:checked + header .menu_btn .line {
  background-color: transparent;
}

#menu_Hambugerlist:checked + header .menu_btn .line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu_Hambugerlist:checked + header .menu_btn .line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#menu_Hambugerlist:checked + header .menu_btn .line::before,
#menu_Hambugerlist:checked + header .menu_btn .line::after {
  top: 0;
  -webkit-transition: top ease 0.3s, -webkit-transform ease 0.3s 0.3s;
  transition: top ease 0.3s, -webkit-transform ease 0.3s 0.3s;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;
  transition: top ease 0.3s, transform ease 0.3s 0.3s, -webkit-transform ease 0.3s 0.3s;
}

#menu_Hambugerlist {
  display: none;
}

@media (max-width: 767px) {
  #menu_Hambugerlist:checked ~ header .menu {
    max-height: 500px;
  }
  header {
    width: 100%;
  }
  header .menu_btn {
    visibility: visible;
  }
  .menu {
    max-height: 0;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 60px;
    width: 100%;
    -webkit-transition: max-height 0.8s;
    transition: max-height 0.8s;
    z-index: 4;
  }
  .menu li {
    background-color: gray;
    padding: 20px 0px;
  }
}
.banner {
  background-color: #FAFAFA;
  padding: 80px 0px;
  text-align: center;
}
.banner .quote_decoration.quote_Below {
  display: none;
}
.banner .banner_Above p {
  line-height: 1.5;
  color: #1E1E1E;
  font-size: 20px;
  margin: 0 auto;
  z-index: 1;
}
.banner .banner_Above p strong {
  position: relative;
}
.banner .banner_Above p strong .markDecoration_Above {
  position: absolute;
  top: 25px;
  right: -20px;
  z-index: -1;
}
.banner .banner_Above p strong .markDecoration_Below {
  position: absolute;
  top: 25px;
  right: 10px;
  z-index: -1;
}/*# sourceMappingURL=all.css.map */