header{
    display: flex;
    justify-content: space-around   ;
    align-items: center;
    position: relative;
    height: 45px;
    .logo{
        position: absolute;
        top: 0;
        left: 50px;
    }
    .menu_btn{
        position: absolute;
        top: 0;
        right: 50px;
        visibility: hidden;
    }
    .menu{
        display: flex;
        justify-content: space-evenly;
        gap: 0px 20px;
        li{
            text-align: center;
            a{
                padding: 4px 12px;
                position: relative;
                &:hover{
                    .menu_Ltop{
                        border-top: 1px solid black ;
                        border-left: 1px solid black;;
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        left: 0px;
                        top: 0px;
                    }
                    .menu_Rtop{
                        border-top: 1px solid black ;
                        border-right: 1px solid black;;
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        right: 0px;
                        top: 0px;
                    }
                    .menu_Lbottom{
                        border-bottom: 1px solid black ;
                        border-left: 1px solid black;;
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        left: 0px;
                        bottom: 0px;
                    }
                    .menu_Rbottom{
                        border-bottom: 1px solid black ;
                        border-right: 1px solid black;;
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        right: 0px;
                        bottom: 0px;
                    }
                    
                }
            }
        }
    }
}




// menu_btn
.menu_btn{
    width: 24px;
    height: 24px;
    background-color: #fff;
    cursor: pointer;           //mousestyle
    display: block;
    align-items: center;
    padding: 16px;
    z-index: 2;
   }

.menu_btn .line,
.menu_btn .line::before,
.menu_btn .line::after {
    background-color: #222;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    transition: top ease 0.3s 0.3s, transform ease 0.3s;
    width: 20px;
  }
.menu_btn .line{
    top: 25px;
  }
  
.menu_btn .line::before {
    top: -6px;
  }
  
.menu_btn .line::after {
    top: 6px;
  }

// 選擇後叉叉
#menu_Hambugerlist:checked + header .menu_btn .line{
    background-color: transparent;
}
#menu_Hambugerlist:checked + header .menu_btn .line::before{
    transform: rotate(45deg);
}
#menu_Hambugerlist:checked + header .menu_btn .line::after{
    transform: rotate(-45deg);
}

#menu_Hambugerlist:checked + header .menu_btn .line::before,
#menu_Hambugerlist:checked + header .menu_btn .line::after {
  top: 0;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;
//   transition: property  duration  timing-function  delay;
//   transition: 套用的屬性 花費時間       時間速率    等待時間;
}

#menu_Hambugerlist{
    display: none;
}


@media (max-width: 767px) {
    #menu_Hambugerlist:checked ~ header .menu{
        max-height: 500px;
    }
    
    header {
        width: 100%;
        .menu_btn{
            visibility: visible;
        }
      }
         
    .menu {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        position: absolute;
        top: 60px;
        width: 100%;
        transition: max-height .8s;
        z-index: 4;
        li{
            background-color:gray;
            padding: 20px 0px;
        }
    }
}



.banner{
    background-color: #FAFAFA;
    padding: 80px 0px;
    text-align: center;
    .quote_decoration.quote_Below{ 
        display: none;
    }
    .banner_Above {
        margin-bottom: 24px;
        p{
            width: 300px;
            line-height: 1.5;
            color: #1E1E1E;
            font-size: 20px;
            margin: 0 auto;
            strong{
                position: relative;
                z-index: 1;
                .markDecoration{
                    position: absolute;
                    top: 15px;
                    right: 0px;
                    width: 108px;
                    z-index: -1;
                }
            }
        }
        
    }
    .banner_Below{

        .banner_Below_item{
            margin: 0 auto;
            width: 235px;
            position: relative;
            h2{
                color: #5B5B5B;
                margin-bottom: 12px;
            }
            h2::after{
                content: "";
                width: 24px;
                display: block;
                border: 1px solid #C1C1C1;
                position: absolute;
                right: 45%;
                top: 18px;
            }
            p{
                line-height: 24px;
            }
        }
        .Below_item1{
            margin-bottom: 20px;
        }

    }
}
.content{
    ul{
        li{
            margin: 0 auto;
            width: 351px;
            img{
                width: 100%;
                border-radius: 8px;
                margin-bottom: 16px;
            }
            .card_txt{
                h3{
                    font-size: 20px;
                }
                p{
                    font-size: 16px;
                    color: #919191;
                }
                .function_Select{
                    display: flex;
                    li{
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}


// @media (max-width: 767px) {
//     .banner{
//         // quote img
//         .quote_Above{
//             text-align: left;
//         }
//         .quote_Below{
//             text-align: right;
//             display: block;
//         }
        
//             .banner_Below_item{
//                 width: 298px;
//             }
//             h2{
//                 color: #5B5B5B;
//                 margin-bottom: 12px;
//                 position: relative;
//                 div{
//                     position: absolute;
//                     border: 1px solid #C1C1C1;
//                     width: 20px;
//                     top: 18px;
//                     right: 0;
//                     left: 0;
//                     margin: 0 auto;
//                 }
//             }
//             p{
//                 color: #3B3B3B;
//             }
//         }
//     }


// }
